<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>

</head>
<body>
 <h1><font color="red">{{ username }}</font>さんようこそ！！</h1>


 <div class="reg">
   {% if execute == True%}
    <p>
    停止ボタンを押すと取引を停止します
    </p>
   <form method="post" action="{% url 'index' %}">
      {% csrf_token %}
         <input type="hidden" name="username" value="{{ username }}">
         <input type="hidden" name="type" value="stop">
         <input type="submit" class="btn" value="停止">
   </form>
   {% else %}
    <p>
    パスワードを入力して実行ボタンを押すと自動で取引を行います
    </p>
   <form method="post" action="{% url 'index' %}">
      {% csrf_token %}
      <input type="hidden" name="username" value="{{ username }}">
      <input type="hidden" name="type" value="exe">
      <table class="reg_form">
      <tr>
      <td><label for="password">パスワード：</label></td>
      <td><input type="password" name="password"></td>
      </tr>
      </table>
      <input type="submit" class="btn" value="実行">
   </form>
   {% endif %}
  </div>


 <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
   <div id="tradingview_2fae2"></div>
   <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/ETHUSDT/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">ETHUSDTチャート</span></a></div>
   <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
   <script type="text/javascript">
   new TradingView.widget(
   {
   "width": 780,
   "height": 410,
   "symbol": "BINANCE:ETHUSDT",
   "interval": "1",
   "timezone": "Asia/Tokyo",
   "theme": "light",
   "style": "1",
   "locale": "ja",
   "toolbar_bg": "#f1f3f6",
   "enable_publishing": false,
   "hide_side_toolbar": false,
   "allow_symbol_change": true,
   "details": true,
   "studies": [
     "VWAP@tv-basicstudies",
     "MAExp@tv-basicstudies"
   ],
   "container_id": "tradingview_2fae2"
 }
   );
   </script>
 </div>
 <!-- TradingView Widget END -->



 <p> ログアウトは
 <a href="{% url 'Logout' %}">こちら</a>
 </p>
</body>
</html>